*.pdb
*.ilk
*.sdf
*.suo
*.tlog
*.idb
*.pyc
*.lib
*.exp
doc/*
build/Win/int/*
build/OSX/Debug/Epsilon.build/*
build/OSX/Release/Epsilon.build/*
build/int/*
project/Debug/*.obj
*.filters
*.opensdf
*.filters
*.filters
resources/imgui.ini
